<div class="center-login">
    <p-card header="Login">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="p-grid">
                    
                <div class="p-col-2">Usuario</div>
                <div class="p-col-8">
                    <input pInputText type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"> <!--[(ngModel)]="authenticate.login"-->
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>

                <div class="p-col-2">Senha</div>
                <div class="p-col-10">
                    <input pPassword type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/> <!-- [(ngModel)]="authenticate.password" -->
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <br>
                <div class="p-col-10 p-offset-2">
                    <button pButton type="submit" label="Entrar" *ngIf="!loading"></button>
                    <i class="fa fa-spinner fa-2x" aria-hidden="true" *ngIf="loading"></i>
                </div>
                
            </div>
        </form>
    </p-card>
</div>
<p-toast></p-toast>